<section class="jumbotron text-center">

	<h1 class="jumbotron-heading">{{lVM.torneo.nombre}}</h1>
	<br>
	<div ng-if="lVM.torneo.tipo==='Liga'">

		<div class="row">
			<div class="col-sm-6">
				<h3>Clasificación</h3>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Goles a favor</th>
							<th scope="col">Goles en contra</th>
							<th scope="col">Puntos</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="per in lVM.tabla | orderBy: ['-puntos','-golesAfavor-golesEnContra'] track by $index ">
							<th scope="row">{{$index+1}}ª</th>
							<td>{{per.nombre}}</td>
							<td>{{per.golesAfavor}}</td>
							<td>{{per.golesEnContra}}</td>
							<td>{{per.puntos}}</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="lVM.actualizar()">Actualizar</button>
				<button type="button" class="btn btn-warning" ng-click="lVM.guardar()">Acabar</button>
				<button type="button" class="btn btn-danger" ng-click="lVM.borrar()">Borrar</button>
			</div>
			<div class="col-sm-6">
				<h3>Partidos</h3>
				<br>
				<div ng-repeat="jor in lVM.torneo.partidos track by $index">
					<h5>Jornada {{$index+1}}</h5>

					<div ng-repeat="par in jor track by $index">
						<div class="row">
							<div class="col-sm-2">
								<span>{{par.local}}</span>
							</div>
							<div class="col-sm-3">
								<input class="form-control" type="number" ng-model="par.golesLocal">
							</div>
							<div class="col-sm-2">
								--
							</div>
							<div class="col-sm-3">
								<input class="form-control" type="number" ng-model="par.golesVisitante">
							</div>
							<div class="col-sm-2">
								<span>{{par.visitante}}</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
	<div ng-if="lVM.torneo.tipo==='Copa'">




	</div>



</section>