<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">{{lVM.torneo.nombre}}</h1>
		<br>
		<div ng-if="lVM.torneo.tipo==='Liga'">

			<h3>Clasificación</h3>
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Goles a favor</th>
			      <th scope="col">Goles en contra</th>
			      <th scope="col">Puntos</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="per in lVM.tabla track by $index">
			      <th scope="row">{{$index+1}}ª</th>
			      <td>{{per.nombre}}</td>
			      <td>{{per.golesAfavor}}</td>
			      <td>{{per.golesEnContra}}</td>
			      <td>{{per.puntos}}</td>
			    </tr>
			  </tbody>
			</table>

			<hr class="my-4">
			<h3>Partidos</h3>
			<br>

			<div ng-repeat="jor in lVM.torneo.partidos track by $index">
				<h5>Jornada {{$index+1}}</h5>
				<ul ng-repeat="par in jor" class="list-group">
					<li  class="list-group-item">
						{{par.local}} {{par.golesLocal}} - {{par.visitante}} {{par.golesVisitante}}
						<span class="pull-right">{{par.fecha}}</span>
					</li>
				</ul>

			</div>
			




		</div>
		<div ng-if="lVM.torneo.tipo==='Copa'">
			



		</div>


	</div>
</section>