<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">{{lVM.torneo.nombre}}</h1>
		<br>
		<div ng-if="lVM.torneo.tipo==='Liga'">

			<h3>Clasificación</h3>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre</th>
						<th scope="col">G AF</th>
						<th scope="col">G EC</th>
						<th scope="col">Pts</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="per in lVM.tabla | orderBy: '-puntos' track by $index">
						<th scope="row">{{$index+1}}ª</th>
						<td>{{per.nombre}}</td>
						<td>{{per.golesAfavor}}</td>
						<td>{{per.golesEnContra}}</td>
						<td>{{per.puntos}}</td>
					</tr>
				</tbody>
			</table>

			<hr class="my-4">
			<h3>Partidos</h3>
			<br>

			<div ng-repeat="jor in lVM.torneo.partidos track by $index">
				<h5>Jornada {{$index+1}}</h5>
				<ul ng-repeat="par in jor" class="list-group">
					<li class="list-group-item">
						<strong>{{par.local}}</strong> {{par.golesLocal}} - {{par.golesVisitante}}
						<strong>{{par.visitante}} </strong>
						<span class="pull-right">{{par.fecha}}</span>
					</li>
				</ul>

			</div>





		</div>
		<div ng-if="lVM.torneo.tipo==='Copa'">




		</div>


	</div>
</section>