<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
 	
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="templates/module.js"></script>
	<script src="templates/scripts/pasados/factory.pasados.js"></script>
	<script src="templates/scripts/pasados/controller.pasados.js"></script>
	<script src="templates/scripts/pasados/controller.liga.js"></script>


	<div ui-view="layout"></div>
	

</body>
</html>