<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" ui-sref="app">COPA JANCEL</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" ui-sref="app">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="app.pasados">Torneos pasados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="app.actuales">Torneos en curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="app.crearLiga">Crear Nueva liga</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div ui-view='general'></div>
</main>